graphs {
    graph_id: 1
    device_id: "0"

    engines {
        id: 2
        engine_name: "MindInferenceEngine"
        so_name: "./libmind_inference_engine.so"
        thread_num: 2
	
        ai_config {
            items {
                name: "model_path"
                #value: "../model_convert/protein_cpp/new.om"
                #value: "../model_convert/D3Protein/new.om"   #batch = 64
                #value: "../model_convert/ContactPred/new.om"  #batch = 16
                value: "/home/huawei/samples/Samples/my_right/data/models/5shot.om" #batch = 1
            }
            items {
                name: "batch_size"
                value: "1"
            }
        }
        side: DEVICE 
    }

    engines {
        id: 3
        engine_name: "OutputEngine"
        so_name: "./liboutput_engine.so"
        side: HOST
    }

    connects {
        src_engine_id: 2
        target_engine_id: 3
    }

}
